@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome Openshift :)</h1>
    <hr />
    <h3>Environment from .s2i/environment: @ViewBag.ENV</h3>
</div>
