@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome Openshift :)</h1>
    <hr />
    <h3>Environment from .s2i/environment : @ViewBag.ENV</h3>
    <h3>Environment from oc new-app -e ...: @ViewBag.ENVTEST</h3>
    <hr />
    <h3>secret1 : @ViewBag.SECRET1</h3>
    <h3>secret2 : @ViewBag.SECRET2</h3>
</div>
